*{ box-sizing: border-box; }
.wrapper{
  border:5px dashed red;
  height:480px;
  width:640px;
  position:relative;
}
.wrapper img{
  border:5px dashed blue;
  position: absolute;
  width:100%;
  height:100%;
}